[submodule "Atom/Vendor/spdlog"]
	path = Atom/Vendor/spdlog
	url = https://github.com/VictorKrogh-Studios/spdlog.git
[submodule "Atom/Vendor/glfw"]
	path = Atom/Vendor/glfw
	url = https://github.com/VictorKrogh-Studios/glfw.git
