name: Build

on:
  push:
    branches: [ "development" ]
  pull_request:
    branches: [ "development" ]

env:
  # Path to the solution file relative to the root of the project.
  SOLUTION_FILE_PATH: "Atom.sln"

permissions:
  contents: read

jobs:
  build-windows:
    runs-on: [windows-latest]
    strategy:
      fail-fast: false
      matrix:
        build-configuration: [Debug, Release]
        system: [windows]
        architecture: [x86_64]

    steps:
    - uses: actions/checkout@v4
      with:
        repository: 'VictorKrogh-Studios/Atom'
        submodules: recursive
        lfs: true

    - name: Install Vulkan SDK
      uses: humbletim/install-vulkan-sdk@v1.1.1
      with:
        version: 1.3.296.0
        cache: false

    - name: Setup Vulkan SDK
      uses: humbletim/setup-vulkan-sdk@v1.2.0
      with:
        vulkan-query-version: 1.3.296.0
        vulkan-components: Vulkan-Headers, SPIRV-Cross
        vulkan-use-cache: false

    - name: Setup
      working-directory: ${{env.GITHUB_WORKSPACE}}
      shell: cmd
      run: ./Generate-Win.bat

    - uses: microsoft/setup-msbuild@v1.1
      with:
        msbuild-architecture: x64

    - name: Build
      run: MSBuild ${{env.SOLUTION_FILE_PATH}} /m /p:Configuration=${{matrix.build-configuration}} -fl -flp:logfile=logs/Build-${{matrix.build-configuration}}.log

    - name: Copy sandbox assets
      working-directory: ${{env.GITHUB_WORKSPACE}}
      shell: cmd
      run: .\Copy-Step.bat "${{matrix.build-configuration}}-${{matrix.system}}-${{matrix.architecture}}"

    - name: Upload Atom build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Atom-${{matrix.build-configuration}}-${{matrix.system}}-${{matrix.architecture}}
        path: .\bin\${{matrix.build-configuration}}-${{matrix.system}}-${{matrix.architecture}}\

